<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HoloXPLOR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HoloXPLOR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (!String.IsNullOrWhiteSpace(ViewBag.ID))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (ViewBag.Title != "Hangar")
                        { 
                            <li><a href="@Url.Action("Hangar", "HoloTable", new { id = ViewBag.ID })"><span class="glyphicon glyphicon-globe"></span> Hangar</a></li>
                        }
                        <li><a href="@Url.Action("Download", "HoloTable", new { id = ViewBag.ID })"><span class="glyphicon glyphicon-cloud-download"></span> Download</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HoloXPLOR | Icons by <a href="https://icons8.com/" target="_icons8">Icons8</a> | Original <a href="http://zanimation.com/cataloguedemo/" target="_concept">Concept</a> and <a href="http://z-design.deviantart.com/art/Star-Citizen-Roberts-Space-Industries-Ship-UI-359807242" target="_deviantart">Designs</a> by <a href="http://zanimation.com" target="_zanimation">Zane Bien</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/holoxplor")

    @RenderSection("scripts", required: false)

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29781027-3', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
